<!DOCTYPE html>
<html>
    <head>
        <title>Squirrels UI</title>
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', path='/script.js') }}" defer></script>
    </head>
    <body>
    <div id="main-container">
        <div id="parameter-container">
            <label for="dataset-select">Select a Dataset:</label>
            <select id="dataset-select"></select>
            <div id="generated-parameters"></div>
            <input type="submit" value="Apply" onclick="get_dataset_results()">
        </div>
        <div id="table-container">
            <button onclick="copyTable()">Copy Table</button>
            <table id="result-table">
                <thead id="table-header"></thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
    </div>
    </body>
</html>